html {
  background-color: #000;
  background-image: url('../img/Background.png');
  background-size: 78%;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}


/* Conteneur pour positionner les inputs à droite */
.contenue_case {
  position: absolute;
  top: 50%;
  right: 15%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

/* Groupe input + label */
.input-group {
  display: flex;
  align-items: center;
  gap: 15px;
}
/* pour mettre les information des case a coté des inputs j'ai fait des labels*/
/* Label à côté de l'input (Nom:, Prénom:, e-mail:) */
.input-label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;  /* Bold */
  font-size: 1rem;
  color: rgb(255 255 255 / 90%);
  min-width: 80px;
  text-align: right;
}

/* Style des intérieur des boutons (Nom, Prénom, e-mail) */
.liquid-glass { /* on a choisi ce style de bouton qui est plus adapté à notre thème de liquid glass generer sur css glass */
  position: relative;
  padding: 0.8rem 3.5rem;
  color: rgb(255 255 255 / 90%); /* couleur du texte dans les intérieurs des boutons */
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.2px);
  -webkit-backdrop-filter: blur(3.2px);
  border: 1px solid rgba(255, 255, 255, 0.42);
  text-align: center;
  user-select: none;
  cursor: text;
  width: 250px;
  
  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
  }
  
  &::before {
    backdrop-filter: blur(3px);
    filter: url(#glass-distortion);
    z-index: -1;
  }
  
  &::after 
  {
    box-shadow: inset 1px 1px 1px 0 rgb(255 255 255 / 30%);
  }
}

/* Checkbox (la case a cocher) */
.conditions_utilisateur {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(255 255 255 / 90%);
  font-size: 1rem;
  margin-top: 10px;
  margin-left: 90px;/* pour bien aligner le texte avec les inputs */
}

input[type="validation"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

/* Bouton Suivant */
.suivant-bouton {    /*bouton a faire sur SPIN! et Réclamer*/
  position: relative;
  padding: 0.7rem 3rem;

/* From https://css.glass */ /* on a choisi ce style de bouton qui est plus adapté à notre thème de liquid glass generer sur css glass */
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.2px);
  -webkit-backdrop-filter: blur(3.2px);
  border: 1px solid rgba(255, 255, 255, 0.42);
  color: rgb(255 255 255 / 90%);
  text-align: center;
  user-select: none;
  cursor: pointer;
  margin-top: 15px;
  align-self: center;
  font-family: 'Montserrat', sans-serif; 

    /* AJOUT : Transition pour effet fluide */
  transition: all 0.1s ease;
  transform: translateY(0);

   /* effet que j'ai trouver sur MDN pour faire un effet de verre déformant sur les boutons */
  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
  }
  
  &::before {
    backdrop-filter: blur(3px);
    filter: url(#glass-distortion);
    z-index: -1;
  }
  
  &::after 
  {
    box-shadow: inset 1px 1px 1px 0 rgb(255 255 255 / 30%);
  }
}
/* AJOUT : Effet d'enfoncement trouvé sur internet */
.suivant-bouton:active {
  transform: translateY(4px); /* S'enfonce de 4px */
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1); /* Ombre réduite */
}
.Nom { /* Le SNEAKERS WHEEL en haut de la page */
    position: absolute;
    top: 270px; /* position exact de mon bouton */
    left: 25%;
    transform: translateX(-50%);
    font-size: 2.6rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; /* Bold (700) */
    color: white;
    text-align: right;
    color: white;color: white;
    -webkit-text-stroke: 7px #E01E2B; 
    text-stroke: 7px #E01E2B;
    text-shadow: none;
    paint-order: stroke fill; /* avant de faire cette commande le texte avait une ombre rouge et blanche qui faisait un effet de double contour (débordement du rouge) */
}
.sous_NOM { /* BY en dessous du SNEAKERS WHEEL */
  position: absolute;
  top: 350px; /* positionnement en hauteur */
  left: 25%; /* positionnement du coté gauche de la page en % vu que c'est un texte c'est facile de le positionné*/
  transform: translateX(-50%);
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700; /* Bold (700) */
  color: white;
  text-align: right;
}

.phrase_acroche { 
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;  /* Bold (700) */
  color: white;
  text-align: center;
}

.logo { /* a utiliser pour position l'image foot looker dans ma page */
  position: absolute;
    top: 400px;    /* Distance du haut */
    left: 180px;  /* Distance de la gauche en px vu que c'est png c'est difficile de le positionner en % */
}

/* Footer links */
.liens_cookies {
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 40px;
  color: rgb(255 255 255 / 70%);/* ma couleur grise de liens */
  font-size: 0.75rem;
  font-weight: 500;
}

.liens_cookies a {
  color: rgb(255 255 255 / 70%); /* ma couleur grise de liens */
  text-decoration: none;
  cursor: pointer; 
}

.liens_cookies a:hover {
  color: rgb(255 255 255 / 100%); /* couleur blanhe uen fois le curseur dessus */
}